{% extends "base.html.twig" %}
{% block nomPage %}
    Ajouter une entreprise
{% endblock %}

{% block liste %}
    <div class="form-group">
    {{ form_start(vueFormulaireEntreprise) }}
    {{  form_row(vueFormulaireEntreprise.nom, {'attr':{'placeholder':"Exemple : Patatam"}})}}

    {{form_row(vueFormulaireEntreprise.adresse, {'attr':{'placeholder':"Exemple : 7 avenue des chemins perdues 64100 Bayonne "}})}}
    {{form_row(vueFormulaireEntreprise.activite, {'attr':{'placeholder':"Exemple : Ventes en ligne de vêtements de seconde main "}})}}

    {{form_row(vueFormulaireEntreprise.site,{'attr':{'placeholder':"Exemple : www.patatam.com "}})}}
    <br>
    <button type="submit" class="btn btn-dark">Enregistrer</button>
    {{ form_end(vueFormulaireEntreprise) }}
    </div>
    <br><br>
{% endblock %}
